{% extends "layout.html.twig" %}

{% block header %}{{ parent() }} - Modification{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}

    {{ form_row(form.name, {'label':'Nom'}) }}
    {{ form_row(form.description, {'label':'Description'}) }}
    {{ form_row(form.category, {'label':'Categorie'}) }}

    <div class="row d-flex justify-content-center pb-5">
    <div class="col-md-6 well form_image px-5 my-5">
        {{ form_row(form.images) }}
        <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $('div#p6_platformbundle_trick_images');
            var index = $container.find(':input').length;
            $('#add_image').click(function(e) {
                addImage($container);
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addImage($container);
            } else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addImage($container) {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Image n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;
                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    index = index-1;

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>

    <div class="col-md-6 well form_video px-5 my-5">
        {{ form_row(form.videos) }}
        <a href="#" id="add_video" class="btn btn-default">Ajouter une video</a>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var $container = $('div#p6_platformbundle_trick_videos');
            var index = $container.find(':input').length;
            $('#add_video').click(function(e) {
                addVideo($container);
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addVideo($container);
            } else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            function addVideo($container) {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Video n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;
                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }

            function addDeleteLink($prototype) {
                var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    index = index-1;

                    e.preventDefault();
                    return false;
                });
            }
        });
    </script>

    <button type="submit" class="btn btn" formnovalidate>Enregistrer</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}

