{% extends "layout.html.twig" %}

{% block header %}{{ parent() }} - {{ category.name }}{% endblock %}

{% block body %}
    <div class="container">

<h1 class="text-center">{{ category.name }}</h1>
        {% for row in tricks|batch(4) %}
            <div class="row justify-content-between my-5">
                {% for trick in row %}


                    <div class="card col-md-3" id="card">
                        <h4 class="card-title text-center"><a href="{{ path('p6_onetrick', {'id': trick.id}) }}">{{ trick.name }}</a></h4>

                        {% if trick.images.first.file is defined %}
                            <img class="img-fluid" id="img_card" src="{{ asset('Images/'~trick.images.first.file) }}" >
                        {% endif %}

                        <div class="card-body">

                            {% for category in trick.category %}
                                <a href="{{ path('p6_category', {'id': category.id}) }}" class="btn btn-primary" id="btn_category">{{ category.name }}</a>
                            {% endfor %}
                            <a data-toggle="modal" data-target="#exampleModal"><div id="hover_delete_hp"></div></a>
                            <a href="{{ path('p6_updateTrick', {'id': trick.id}) }}"> <div id="hover_update_hp"></div></a>

                        </div>
                    </div>


                {% endfor %}
            </div>

        {% endfor %}






    </div>

{% endblock %}

{% for trick in tricks %}
    {% for image in trick.images %}



    {% endfor %}
{% endfor %}