{% extends "layout.html.twig" %}

{% block header %}{{ parent() }} - Homepage{% endblock %}



{% block body %}



    <div class="container">


            {% for row in listTricks|batch(4) %}
                <div class="row d-flex justify-content-around">
                {% for trick in row %}

<div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card" id="card">
                                <h4 class="card-title text-center"><a href="{{ path('p6_onetrick', {'id': trick.id}) }}">{{ trick.name }}</a></h4>

                                {% if trick.images.first.file is defined %}
                                    <img class="img-fluid" id="img_card" src="{{ asset('Images/'~trick.images.first.file) }}" >
                                {% endif %}

                                <div class="card-body">

                                        {% for category in trick.category %}
                                        <a href="{{ path('p6_category', {'id': category.id}) }}" class="btn btn-primary" id="btn_category">{{ category.name }}</a>
                                        {% endfor %}
                                    <a data-toggle="modal" data-target="#exampleModal{{ trick.id }}"><div id="hover_delete_hp"></div></a>
                                    <a href="{{ path('p6_updateTrick', {'id': trick.id}) }}"><div id="hover_update_hp"></div></a>
                                    <div class="modal fade" id="exampleModal{{ trick.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Merci de confirmer</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Etes-vous bien certain de vouloir supprimer cette figure ?
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="{{ path('p6_deleteTrick', {'id' : trick.id}) }}"><button type="button" class="btn btn-primary">Oui</button></a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
</div>

                {% endfor %}
                </div>

            {% endfor %}

    </div>
{% endblock %}
