{% extends "layout.html.twig" %}

{% block header %}{{ parent() }} - Figure{% endblock %}

{% block body %}

    <div class="container ">
        <h1 class="display-3 text-center">{{ trick.name }}</h1>
        <div class="jumbotron">

            <p class="lead">{{ trick.description }}</p>
            <div class="d-flex justify-content-around">
                <a class="btn btn-lg btn-success" href="{{ path('p6_updateTrick', {'id': trick.id}) }}" role="button">Modifier la figure</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-lg btn-success" href="{{ path('p6_deleteTrick', {'id': trick.id}) }}" role="button">Supprimer la figure</a>

                {% endif %}
            </div>
        </div>
            <div class="d-flex flex-row-reverse mb-5">
                    <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#imageModal">
                        Ajouter une image
                    </button>
                    <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#videoModal">
                        Ajouter une video
                    </button>
            </div>
    </div>


    <div id="ThumbnailCarousel" class="carousel slide col-xs-12" {#data-ride="carousel"#}>
        <div class="carousel-inner">
            {% for items in carousel %}
                {% if loop.index == 1 %}
                    <div class="carousel-item active">
                        <div class="row">
                            {% for unit in items %}
                                {% if unit.isVideo == true %}
                                    <div class="col-md-3"><a href="{{ asset(unit.media.url) }}" class="thumbnail"><iframe width="250" height="250" src="{{ asset(unit.media.url) }}" frameborder="0" allowfullscreen></iframe></a>
                                        <a href="{{ path('p6_deleteMedia', {'type':'video','id':unit.media.id}) }}"><div class="hover_delete"></div></a>
                                    </div>
                                {% else %}
                                    <div class="col-md-3 col-sm-6"><a href="{{ asset('Images/'~unit.media.file) }}" class="thumbnail"><img src="{{ asset('Images/'~unit.media.file) }}" alt="Image" class="img-fluid img-thumbnail"></a>
                                        <a href="{{ path('p6_deleteMedia', {'type':'image', 'id':unit.media.id}) }}"><div class="hover_delete"></div></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <div class="row">
                            {% for unit in items %}
                                {% if unit.isVideo == true %}
                                    <div class="col-md-3"><a href="{{ asset(unit.media.url) }}" class="thumbnail"><iframe width="250" height="250" src="{{ asset(unit.media.url) }}" frameborder="0" allowfullscreen></iframe></a>
                                        <a href="{{ path('p6_deleteMedia', {'type':'video','id':unit.media.id}) }}"><div class="hover_delete"></div></a>
                                    </div>
                                {% else %}
                                    <div class="col-md-3 col-sm-6"><a href="{{ asset('Images/'~unit.media.file) }}" class="thumbnail"><img src="{{ asset('Images/'~unit.media.file) }}" alt="Image" class="img-fluid img-thumbnail"></a>
                                        <a href="{{ path('p6_deleteMedia', {'type':'image', 'id':unit.media.id}) }}"><div class="hover_delete"></div></a>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#ThumbnailCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#ThumbnailCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container">

        {{ form_start(formImage) }}

        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_row(formImage) }}
                        <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" formnovalidate>Enregistrer</button>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(formImage) }}

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                var $container = $('div#form_images');
                var index = $container.find(':input').length;
                $('#add_image').click(function(e) {
                    addImage($container);
                    e.preventDefault();
                    return false;
                });

                if (index == 0) {
                    addImage($container);
                } else {
                    $container.children('div').each(function() {
                        addDeleteLink($(this));
                    });
                }

                function addImage($container) {
                    var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Image n°' + (index+1))
                        .replace(/__name__/g,        index)
                    ;
                    var $prototype = $(template);
                    addDeleteLink($prototype);
                    $container.append($prototype);
                    index++;
                }

                function addDeleteLink($prototype) {
                    var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                    $prototype.append($deleteLink);
                    $deleteLink.click(function(e) {
                        $prototype.remove();
                        index = index-1;

                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>

        {{ form_start(formVideo) }}

        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_row(formVideo) }}
                        <a href="#" id="add_video" class="btn btn-default">Ajouter une video</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" formnovalidate>Enregistrer</button>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                var $container = $('div#form_videos');
                var index = $container.find(':input').length;
                $('#add_video').click(function(e) {
                    addVideo($container);
                    e.preventDefault();
                    return false;
                });

                if (index == 0) {
                    addVideo($container);
                } else {
                    $container.children('div').each(function() {
                        addDeleteLink($(this));
                    });
                }

                function addVideo($container) {
                    var template = $container.attr('data-prototype')
                        .replace(/__name__label__/g, 'Video n°' + (index+1))
                        .replace(/__name__/g,        index)
                    ;
                    var $prototype = $(template);
                    addDeleteLink($prototype);
                    $container.append($prototype);
                    index++;
                }

                function addDeleteLink($prototype) {
                    var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                    $prototype.append($deleteLink);
                    $deleteLink.click(function(e) {
                        $prototype.remove();
                        index = index-1;

                        e.preventDefault();
                        return false;
                    });
                }
            });
        </script>

        {{ form_end(formVideo) }}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.content, {'label':'Votre Message'}) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Poster</button>
        {{ form_end(form) }}

        <section class="row-section">
            <div class="container">

                <div class="col-md-10 offset-md-1 row-block">
                    <ul id="sortable">
            {% for message in trick.message %}
                <li><div class="media">
                        <div class="media-left align-self-center">
                            <img class="rounded-circle" src="{{ asset('Images/'~ message.user.photo) }}">
                        </div>
                        <div class="media-body">
                            <h4>{{ message.user.username }}</h4>
                            <p>{{ message.content }}</p>
                        </div>
                        <div class="media-right align-self-center">
                            <span class="badge badge-primary badge-pill ">{{ message.date|date("m/d/Y - H:i") }}</span>
                        </div>
                    </div></li>
            {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>


    {% endblock %}

