{% extends "layout.html.twig" %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.username, {'label':'Nom'}) }}
    {{ form_row(form.password, {'label':'Mot de passe'}) }}
    {{ form_row(form.photo) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Enregistrer</button>
    {{ form_end(form) }}


{% endblock %}